.screen {
  background-color: #fcf9f5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.screen .div {
  background-color: #fcf9f5;
  height: 3635px;
  position: relative;
  width: 1440px;
}

.screen .frame {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;
  left: 324px;
  position: absolute;
  top: 144px;
  width: 760px;
}

.screen .simple-delicious {
  align-self: stretch;
  color: #1f1d1b;
  font-family: "Space Grotesk", Helvetica;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
}

.screen .frame-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 8px 8px;
  position: relative;
}

.screen .div-wrapper {
  align-items: center;
  background-color: #1f1d1b26;
  border-radius: 1000px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  justify-content: center;
  padding: 4px 8px;
  position: relative;
}

.screen .text-wrapper {
  color: #1f1d1b;
  font-family: "Space Grotesk", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.screen .image-wrapper {
  background: url(https://c.animaapp.com/mccxjumpIKwo6s/img/frame-2.png) 50% 50%
    / cover,
    linear-gradient(
      0deg,
      rgba(180, 180, 180, 1) 0%,
      rgba(180, 180, 180, 1) 100%
    );
  border-radius: 24px;
  height: 434px;
  left: 323px;
  overflow: hidden;
  position: absolute;
  top: 355px;
  width: 794px;
}

.screen .image {
  height: 434px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 794px;
}

.screen .text-wrapper-2 {
  color: #1f1d1b;
  font-family: "Space Grotesk", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 1037px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 319px;
}

.screen .text-wrapper-3 {
  color: #1f1d1b;
  font-family: "S-Core Dream-5Medium", Helvetica;
  font-size: 26px;
  font-weight: 500;
  left: 323px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 957px;
  width: 760px;
}

.screen .left {
  align-items: center;
  display: inline-flex;
  gap: 8px;
  left: 324px;
  position: absolute;
  top: 259px;
}

.screen .frame-3 {
  background: url(https://c.animaapp.com/mccxjumpIKwo6s/img/frame-2-1.png) 50%
    50% / cover;
  border-radius: 76.56px;
  height: 56px;
  position: relative;
  width: 56px;
}

.screen .text-wrapper-4 {
  color: #1f1d1b;
  font-family: "Space Grotesk", Helvetica;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: fit-content;
}

.screen .text-wrapper-5 {
  color: #757575;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen .frame-4 {
  align-items: center;
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  left: 737px;
  position: absolute;
  top: 267px;
  width: 380px;
}

.screen .bookmark-filled-wrapper {
  align-items: center;
  border: 1px solid;
  border-color: #409f71;
  border-radius: 1000px;
  display: flex;
  gap: 8px;
  height: 40px;
  justify-content: space-around;
  position: relative;
  width: 40px;
}

.screen .bookmark-filled {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.screen .stats {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 16px;
  position: relative;
}

.screen .frame-5 {
  align-items: center;
  background-color: #409f71;
  border-radius: 1000px;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  justify-content: center;
  padding: 10px 16px;
  position: relative;
}

.screen .free-icon-like {
  height: 24px;
  object-fit: cover;
  position: relative;
  width: 24px;
}

.screen .element {
  color: #ffffff;
  font-family: "Space Grotesk", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.screen .text-wrapper-6 {
  color: #1f1d1b;
  font-family: "Space Grotesk", Helvetica;
  font-size: 32px;
  font-weight: 500;
  left: 322px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2896px;
  width: 760px;
}

.screen .frame-6 {
  align-items: flex-start;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #dedbd7;
  display: flex;
  gap: 16px;
  left: 322px;
  padding: 16px 0px;
  position: absolute;
  top: 2978px;
  width: 795px;
}

.screen .ellipse {
  height: 48px;
  object-fit: cover;
  position: relative;
  width: 48px;
}

.screen .frame-7 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 6px;
  position: relative;
}

.screen .frame-8 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.screen .text-wrapper-7 {
  color: #1f1d1b;
  font-family: "Space Grotesk", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen .p {
  color: #1f1d1b;
  font-family: "Space Grotesk", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  width: 695px;
}

.screen .free-icon-menu {
  height: 20px;
  object-fit: cover;
  position: relative;
  width: 20px;
}

.screen .frame-9 {
  align-items: flex-start;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #dedbd7;
  display: flex;
  gap: 16px;
  left: 322px;
  padding: 16px 0px;
  position: absolute;
  top: 3182px;
  width: 795px;
}

.screen .frame-10 {
  align-items: flex-start;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #dedbd7;
  display: flex;
  gap: 16px;
  left: 387px;
  padding: 16px 0px;
  position: absolute;
  top: 3080px;
  width: 730px;
}

.screen .frame-11 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: relative;
  width: 630px;
}

.screen .text-wrapper-8 {
  color: #1f1d1b;
  font-family: "Space Grotesk", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-right: -65.00px;
  position: relative;
  width: 695px;
}

.screen .text-wrapper-9 {
  color: #1f1d1b;
  font-family: "Space Grotesk", Helvetica;
  font-size: 32px;
  font-weight: 500;
  left: 322px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3313px;
  width: 759px;
}

.screen .frame-12 {
  border: 1px solid;
  border-color: #dedbd7;
  border-radius: 20px;
  height: 88px;
  left: 322px;
  position: absolute;
  top: 3371px;
  width: 676px;
}

.screen .text-wrapper-10 {
  color: #1f1d1b;
  font-family: "Space Grotesk", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 323px;
  letter-spacing: 0;
  line-height: 29px;
  position: absolute;
  top: 823px;
  width: 794px;
}

.screen .group {
  height: 139px;
  left: 340px;
  position: absolute;
  top: 1044px;
  width: 781px;
}

.screen .text-wrapper-11 {
  color: #1f1d1b;
  font-family: "S-Core Dream-5Medium", Helvetica;
  font-size: 22px;
  font-weight: 500;
  left: 116px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2px;
  width: 643px;
}

.screen .view {
  height: 29px;
  left: 111px;
  position: absolute;
  top: 33px;
  width: 668px;
}

.screen .text-wrapper-12 {
  color: #000000cc;
  font-family: "S-Core Dream-3Light", Helvetica;
  font-size: 16px;
  font-weight: 300;
  left: 23px;
  letter-spacing: 0;
  line-height: 29px;
  position: absolute;
  top: 0;
  width: 643px;
}

.screen .location-on {
  height: 24px !important;
  left: 0 !important;
  position: absolute !important;
  top: 3px !important;
  width: 20px !important;
}

.screen .text-wrapper-13 {
  color: #1f1d1b;
  font-family: "S-Core Dream-4Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 116px;
  letter-spacing: 0;
  line-height: 29px;
  position: absolute;
  top: 81px;
  width: 559px;
}

.screen .frame-13 {
  align-items: center;
  background-color: #409f71;
  border-radius: 1000px;
  display: inline-flex;
  gap: 8px;
  height: 30px;
  justify-content: center;
  left: 0;
  padding: 10px 16px;
  position: absolute;
  top: 0;
}

.screen .text-wrapper-14 {
  color: #ffffff;
  font-family: "Space Grotesk", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -4.00px;
  margin-top: -6.00px;
  position: relative;
  width: fit-content;
}

.screen .group-2 {
  height: 139px;
  left: 340px;
  position: absolute;
  top: 1251px;
  width: 781px;
}

.screen .text-wrapper-15 {
  color: #1f1d1b;
  font-family: "S-Core Dream-4Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 117px;
  letter-spacing: 0;
  line-height: 29px;
  position: absolute;
  top: 81px;
  width: 660px;
}

.screen .group-3 {
  height: 199px;
  left: 451px;
  position: absolute;
  top: 1539px;
  width: 666px;
}

.screen .frame-14 {
  background-image: url(https://c.animaapp.com/mccxjumpIKwo6s/img/frame-2-2.svg);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 24px;
  height: 197px;
  left: 0;
  position: absolute;
  top: 0;
  width: 207px;
}

.screen .frame-15 {
  background-image: url(https://c.animaapp.com/mccxjumpIKwo6s/img/frame-3.svg);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 24px;
  height: 199px;
  left: 229px;
  position: absolute;
  top: 0;
  width: 207px;
}

.screen .frame-16 {
  background-image: url(https://c.animaapp.com/mccxjumpIKwo6s/img/frame-4.svg);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 24px;
  height: 199px;
  left: 459px;
  position: absolute;
  top: 0;
  width: 207px;
}

.screen .text-wrapper-16 {
  color: #1f1d1b;
  font-family: "S-Core Dream-5Medium", Helvetica;
  font-size: 22px;
  font-weight: 500;
  left: 456px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1459px;
  width: 643px;
}

.screen .view-2 {
  height: 29px;
  left: 451px;
  position: absolute;
  top: 1491px;
  width: 668px;
}

.screen .text-wrapper-17 {
  color: #1f1d1b;
  font-family: "S-Core Dream-4Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 451px;
  letter-spacing: 0;
  line-height: 29px;
  position: absolute;
  top: 1765px;
  width: 660px;
}

.screen .frame-17 {
  align-items: center;
  background-color: #409f71;
  border-radius: 1000px;
  display: inline-flex;
  gap: 8px;
  height: 30px;
  justify-content: center;
  left: 340px;
  padding: 10px 16px;
  position: absolute;
  top: 1458px;
}

.screen .text-wrapper-18 {
  color: #1f1d1b;
  font-family: "S-Core Dream-5Medium", Helvetica;
  font-size: 26px;
  font-weight: 500;
  left: 323px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1936px;
  width: 760px;
}

.screen .group-4 {
  height: 139px;
  left: 340px;
  position: absolute;
  top: 2023px;
  width: 902px;
}

.screen .text-wrapper-19 {
  color: #1f1d1b;
  font-family: "S-Core Dream-5Medium", Helvetica;
  font-size: 22px;
  font-weight: 500;
  left: 117px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 2px;
  width: 760px;
}

.screen .view-3 {
  height: 29px;
  left: 111px;
  position: absolute;
  top: 33px;
  width: 789px;
}

.screen .text-wrapper-20 {
  color: #000000cc;
  font-family: "S-Core Dream-3Light", Helvetica;
  font-size: 16px;
  font-weight: 300;
  left: 27px;
  letter-spacing: 0;
  line-height: 29px;
  position: absolute;
  top: 0;
  width: 760px;
}

.screen .location-on-4 {
  height: 24px !important;
  left: 0 !important;
  position: absolute !important;
  top: 3px !important;
  width: 24px !important;
}

.screen .group-5 {
  height: 139px;
  left: 340px;
  position: absolute;
  top: 2656px;
  width: 902px;
}

.screen .group-6 {
  height: 362px;
  left: 340px;
  position: absolute;
  top: 2228px;
  width: 781px;
}

.screen .group-7 {
  height: 199px;
  left: 111px;
  position: absolute;
  top: 81px;
  width: 666px;
}

.screen .text-wrapper-21 {
  color: #1f1d1b;
  font-family: "S-Core Dream-4Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 117px;
  letter-spacing: 0;
  line-height: 29px;
  position: absolute;
  top: 311px;
  width: 660px;
}

.screen .frame-18 {
  background-color: #409f71;
  border-radius: 20px;
  height: 88px;
  left: 1010px;
  overflow: hidden;
  position: absolute;
  top: 3371px;
  width: 107px;
}

.screen .text-wrapper-22 {
  color: #ffffff;
  font-family: "Space Grotesk", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 12px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 33px;
}

.screen .group-8 {
  height: 49px;
  left: 150px;
  position: absolute;
  top: 29px;
  width: 1140px;
}

.screen .frame-wrapper {
  height: 49px;
  left: 0;
  position: absolute;
  top: 0;
  width: 205px;
}

.screen .frame-19 {
  align-items: center;
  display: inline-flex;
  gap: 12px;
  position: relative;
}

.screen .img {
  height: 48px;
  position: relative;
  width: 48px;
}

.screen .text-wrapper-23 {
  color: #1f1d1b;
  font-family: "Hakgyoansim Allimjang OTF-B", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.screen .navbar {
  align-items: center;
  display: flex;
  gap: 48px;
  left: 205px;
  padding: 15px 0px;
  position: absolute;
  top: 0;
  width: 468px;
}

.screen .text-wrapper-24 {
  color: #1f1d1b;
  font-family: "S-Core Dream-7ExtraBold", Helvetica;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen .text-wrapper-25 {
  color: #666666;
  font-family: "S-Core Dream-5Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen .group-9 {
  height: 48px;
  left: 895px;
  position: absolute;
  top: 0;
  width: 245px;
}

.screen .search-instance {
  height: 39px !important;
  left: 0 !important;
  position: absolute !important;
  top: 4px !important;
  width: 39px !important;
}

.screen .frame-20 {
  align-items: center;
  border: 1px solid;
  border-color: #409f71;
  border-radius: 1000px;
  display: inline-flex;
  gap: 8px;
  justify-content: flex-end;
  left: 61px;
  padding: 10px 16px;
  position: absolute;
  top: 4px;
}

.screen .text-wrapper-26 {
  color: #409f71;
  font-family: "S-Core Dream-7ExtraBold", Helvetica;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.screen .ellipse-wrapper {
  align-items: center;
  display: inline-flex;
  gap: 16px;
  left: 197px;
  position: absolute;
  top: 0;
}

.screen .menu {
  align-items: flex-start;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #d9d9d9;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  left: 1117px;
  overflow: hidden;
  padding: 8px;
  position: absolute;
  top: 2990px;
  width: 170px;
}

.screen .menu-section {
  align-items: flex-start;
  align-self: stretch;
  border-radius: 8px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.screen .menu-item {
  align-items: flex-start;
  border-radius: 8px;
  display: flex;
  flex: 0 0 auto;
  gap: 12px;
  margin-right: -131.00px;
  overflow: hidden;
  padding: 12px 16px;
  position: relative;
  width: 285px;
}

.screen .body {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 4px;
  position: relative;
}

.screen .description {
  align-self: stretch;
  color: #292929;
  font-family: var(--body-small-font-family);
  font-size: var(--body-small-font-size);
  font-style: var(--body-small-font-style);
  font-weight: var(--body-small-font-weight);
  letter-spacing: var(--body-small-letter-spacing);
  line-height: var(--body-small-line-height);
  margin-top: -1.00px;
  position: relative;
}

.screen .menu-item-2 {
  align-items: flex-start;
  align-self: stretch;
  border-radius: 8px;
  display: flex;
  flex: 0 0 auto;
  gap: 12px;
  overflow: hidden;
  padding: 12px 16px;
  position: relative;
  width: 100%;
}